In [6]:
#!pip install selenium
#!pip install splinter
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import re

In [7]:
executable_path = {'executable_path':r"C:\Users\taylo\Documents\UCI Bootcamp 2020\UCI_HomeWork_Taylor_Wolff\12-Web-Scraping-Challenge\Missions_to_Mars\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [19]:
slide = soup.select_one("ul.item_list li.slide")

In [20]:
news_title=slide.find('div', class_="content_title").get_text()
news_title

'MOXIE Could Help Future Rockets Launch Off Mars'

In [21]:
news_p=slide.find('div', class_="article_teaser_body").get_text()
news_p

"NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."

In [26]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [28]:
image = soup.find("img", class_="thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24247-640x350.jpg

In [29]:
# Mars Fact 
mars_facts_url = "https://space-facts.com/mars/"
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [31]:
mars_df = table[0]
mars_df.columns = ["Facts", "Value"]
mars_df.set_index(["Facts"])
mars_df

                  Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [34]:
# html of MARS Facts 
mars_facts_html = mars_df.to_html()
mars_facts_html = mars_facts_html.replace("\n","")
mars_facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [44]:
# Mars Hemispheres

In [48]:
hemisphere=['Cerberus Hemisphere Enhanced','Schiaparelli Hemisphere Enhanced','Syrtis Major Hemisphere Enhanced','Valles Marineris Hemisphere Enhanced']
hemisphere_url=[]

for info in hemisphere: 
    home_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(home_url)
    browser.is_element_present_by_text(info, wait_time=1)
    more_info_elem = browser.find_link_by_partial_text(info)
    more_info_elem.click()
    full_image_elem = browser.find_by_id('wide-image-toggle')
    full_image_elem.click()
    soup=BeautifulSoup(browser.html, 'html.parser')
    photo1=soup.body.find('img', class_='wide-image')
    photo_src=photo1['src']
    photo_url1=f"https://astrogeology.usgs.gov{photo_src}"
    hemisphere_url.append(photo_url1)

In [50]:
# images of the hemisphere image urls
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": hemisphere_url[0]},
    {"title": "Cerberus Hemisphere", "img_url": hemisphere_url[1]},
    {"title": "Schiaparelli Hemisphere", "img_url": hemisphere_url[2]},
    {"title": "Syrtis Major Hemisphere", "img_url": photo_url1[3]},]