In [13]:
import pandas as pd
import os

In [14]:
# Locating the CSv file
cities_data=os.path.join('.','resources','cities.csv')
cities_data

'.\\resources\\cities.csv'

In [15]:
# convert to dataframe

file_data = pd.read_csv(cities_data)

cities_df = pd.DataFrame(file_data)

cities_df = cities_df[["City_ID", "City", "Country", "Lng", "Lat", "Max Temp", "Cloudiness", "Wind Speed", "Humidity"]]

cities_df.head()

,City_ID,City,Country,Lng,Lat,Max Temp,Cloudiness,Wind Speed,Humidity
0,0,jacareacanga,BR,-57.76,-6.22,89.60,0,6.93,62
1,1,kaitangata,NZ,169.85,-46.28,42.61,100,5.64,94
2,2,goulburn,AU,149.72,-34.75,44.32,20,10.11,91
3,3,lata,IN,78.62,30.78,59.89,76,0.94,89
4,4,chokurdakh,RU,147.90,70.62,32.17,0,2.95,88

In [16]:
# csv to html file
cities_df.to_html('./resources/cities.html', index=False)